body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.top-card {
  background: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 40vh;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #ffffff;
}

.main-para {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.songs-container {
  background-color: #152850;
  min-height: 60vh;
  padding: 40px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.playlist-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
  margin: 0;
}

.input-element-container {
  width: 30%;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input-element-style {
  width: 90%;
  background-color: transparent;
  border: 0px solid #cbd5e1;
  border-radius: 4px;
  height: 36px;
  font-family: 'Roboto';
  font-size: 17px;
  color: #fff;
  outline: none;
  padding: 5px;
}

.search-icon-container {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 12px;
}

.search-icon {
  height: 16px;
  width: 16px;
  color: #cbd5e1;
}

.no-songs-found-text {
  font-family: 'Roboto';
  font-size: 40px;
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
